body{
    font-family: Arial, sans-serif;
}

nav{
    height: 60px;
    width: 100%;
    background: #344051;
}

.logo{
    float: left;
    color: #fff;
    font-size: 28px;
    line-height: 60px;
    padding-left: 388px;
}

.menu{
    float: left;
    padding-left: 432px;
}

.menu li{
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 40px;
    text-transform: uppercase;
    font-size: 16px;
}

.main{
    height: calc(100% - 60px);
    width: 100%;
    background: url(../img/boy.png) 90% 100%/auto 85% no-repeat , url(../img/bg.jpg) center/cover no-repeat;
}

.title_container{
    float: left;
    margin: 432px 0px 0px 404px;
    text-align: center;
    color: #2c384a;
}

.title_container h1{
    font-size: 60px;
    font-weight: bold;
}

.title_container h4{
    margin-top: 40px;
    font-size: 22px;
    color: #79818d;
}

.title_container input{
    height: 40px;
    text-align: center;
    font-size: 13px;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    padding: 0px 16px;
    margin: 58px 14px 0px 14px;
}

.about_me_conteiner{
    float: left;
    width: 100%;
    margin-top: 300px;
    font-size: 13px;
    background: url(../img/line.png) 50% 56px/auto auto no-repeat;
}

.about_me_conteiner h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 23px;
    font-weight: 600;
}

.about_me_conteiner p{
    text-align: left;
    font-size: 12px;
    margin: 25px 595px;
}

.about_me_conteiner img{
    display: block;
    margin: auto;
    margin-top: 110px;
}

.about_me_conteiner input{
    display: block;
    margin: auto;
    height: 34px;
    font-weight: 200;
    color: #6d7682;
    padding-left: 30px;
    padding-right: 15px;
    border: 1px solid #6d7682;
    border-radius: 5px;
    background: url(../img/resumeico.png) 10px 50%/auto auto no-repeat;
}

.what_can_container{
    float: left;
    height: 523px;
    width: 100%;
    margin-top: 100px;
    background: url(../img/line.png) 50% 163px/auto auto no-repeat, url(../img/bg2.jpg) center/cover no-repeat;
}

.what_can_container h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 23px;
    font-weight: 600;
    color: #323e4f;
    margin-top: 107px;
}

.what_can_container h4{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #cf7600;
    margin-top: 15%;
    margin-bottom: 18px;
}

.what_can_container p{
    text-align: center;
    font-size: 11px;
    color: #323e4f;
}

.what_can_container img{
    display: block;
    height: 40px;
    margin: auto;
}

.what_can_container ul{
    height: 160px;
    margin-top: 135px;
    padding-left: 419px;
}

.what_can_container li{
    float: left;
    width: 210px;
    margin-right: 85px;
}

.cases_conteiner{
    float: left;
    width: 100%;
    background: url(../img/line.png) 50% 163px/auto auto no-repeat;
}

.cases_conteiner h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 23px;
    font-weight: 600;
    margin-top: 107px;
    margin-bottom: 73px;
}

.cases_conteiner h4{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 6px;
}

.cases_conteiner>p{
    text-align: center;
    font-size: 11px;
}

.cases_conteiner p{
    font-size: 13px;
    margin-bottom: 6px;
}

.cases_conteiner span{
    font-size: 13px;
}

.cases_conteiner a{
    font-size: 13px;
}

.cases_conteiner ol{
    list-style-type: none;
    height: 625px;
    width: 100%;
    margin-top: 40px;
    padding-left: 388px;
}

.cases_conteiner img{
    display: block;
    margin: auto;
}

.cases_conteiner ul{
    width: 100%;
    height: 105px;
    padding-left: 388px;
}

.cases_conteiner li{
    float: left;
    height: 105px;
    min-width: 250px;
    max-width: 800px;
}

.cases_conteiner input{
    height: 46px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    margin-left: 388px;
    background-color: #63b5ae;
    color: #fff;
    border: 1px solid #63b5ae;
    border-radius: 5px;
    margin-bottom: 190px;
}

.cost_calculation_conteiner{
    float: left;
    height: 800px;
    width: 100%;
    background: url(../img/lineitog.png) 50% 525px/auto auto no-repeat;
}

.cost_calculation_conteiner h2{
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 60px;
}

.cost_calculation_conteiner h3{
    font-size: 20px;
    margin-left: 505px;
}

.cost_calculation_conteiner select{
    height: 58px;
    width: 890px;
    margin: 23px 0 49px 505px;
    background-color: #eeeeee;
}

.cost_calculation_conteiner p{
    font-size: 20px;
    text-align: right;
    width: 812px;
    margin-bottom: 5px;
}

.cost_calculation_conteiner span{
    display: block;
    font-size: 15px;

}

.cost_calculation_conteiner ul{
    height: 56px;
    width: 894px;
    margin-left: 505px;
    
}

.cost_calculation_conteiner li{
    float: left;
    
}

.some_stats_conteiner{
    float: left;
    height: 500px;
    width: 100%;
    background:  url(../img/line.png) 50% 163px/auto auto no-repeat, url(../img/bg3.jpg) center/cover no-repeat;
}

.some_stats_conteiner h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 23px;
    font-weight: 600;
    color: #323e4f;
    margin-top: 103px;
}

.some_stats_conteiner h4{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #323e4f;
    margin-top: 20px;
    margin-bottom: 20px;
}

.some_stats_conteiner p{
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    color: #323e4f;
}

.some_stats_conteiner img{
    display: block;
    height: 40px;
    margin: auto;
}

.some_stats_conteiner ul{
    height: 160px;
    margin-top: 135px;
    padding-left: 419px;
}

.some_stats_conteiner li{
    float: left;
    width: 210px;
    margin-right: 85px;
}

.reviews_conteiner{
    float: left;
    height: 590px;
    width: 100%;
    background: url(../img/line.png) 50% 163px/auto auto no-repeat;
}

.reviews_conteiner h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 23px;
    font-weight: 600;
    color: #323e4f;
    margin-top: 103px;
}

.reviews_conteiner p{
    width: 690px;
    text-align: center;
    font-size: 14px;
    margin-bottom: 30px;
}

.reviews_conteiner img{
    display: block;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 30px;
}

.reviews_conteiner ol{
    list-style-type: none;
    text-align: center;
}

.reviews_conteiner li{
    display: inline-block;
}

.my_contacts_container{
    float: left;
    height: 810px;
    width: 100%;
    background: url(../img/line.png) 50% 163px/auto auto no-repeat, url(../img/bg4.jpg) center/cover no-repeat;
}

.my_contacts_container h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 23px;
    font-weight: 600;
    color: #fff;
    margin-top: 103px;
    margin-bottom: 70px;
}

.my_contacts_container h3{
    text-transform: uppercase;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 45px;
}

.my_contacts_container>p{
    text-align: center;
    font-size: 14px;
    color: #fff;
}

.my_contacts_container p{
    font-size: 14px;
    color: #fff;
    line-height: 20px;
}

.my_contacts_container img{
    height: 25px;
    margin-bottom: 10px;
}

.my_contacts_container ul{
    height: 100px;
    text-align: center;
    margin-top: 50px;
    padding-left: 655px;
}

.my_contacts_container li{
    float: left;
    margin-right: 82px;
}

.my_contacts_container form{
    text-align: center;
}

.my_contacts_container textarea{
    background-color: #ffffff70;
    height: 95px;
    width: 729px;
    padding: 5px 0 5px 12px;
    margin-bottom: 30px;
}

.my_contacts_container textarea::placeholder{
    color: #00000070;
}

#text_for_send1{
    background-color: #ffffff70;
    height: 35px;
    width: 353px;
    padding: 5px 0 5px 12px;
    margin-right: 10px;
    margin-bottom: 12px;
}
#text_for_send1::placeholder{
    color: #00000070;
}


#text_for_send2{
    background-color: #ffffff70;
    height: 35px;
    width: 353px;
    padding: 5px 0 5px 12px;
    margin-left: 10px;
}
#text_for_send2::placeholder{
    color: #00000070;
}


#button_for_send{
    background: none;
    height: 47px;
    width: 130px;
    font-size: 18px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
}